.main-container {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 80vmin; /* Use the smaller dimension of viewport */
    border: 1px solid;
}

.block {
    box-sizing: border-box;
}

.create-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#create-sketchpad-button{
    width: 30%;
}